body{
    margin: 0;
}
div{
    box-sizing: border-box;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    /* 모든p태그에 적용됩니다. */

    font-size: 15;
    line-height: 1.6;
    color: gray;
}
#special {
    text-align: center;
    color: gray;
    font-size: 15;
    line-height: 1.6;
}
.box {
    width: 700px;
    height: auto;
    background-color: rgb(248, 182, 94);
    /* display: block; div는 display block속성을 가지고 있음 */
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px gray;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 100px;
    margin-bottom: 100px;

    overflow: hidden;
}

.header {
    width: 800px;
    height: 2000px;
    background-color: aquamarine;
}

.left-menu {
    width: 70%;
    height: 200px;

    float: left;
}
.right {
    width: 30%;
    height: 200px;

    float: right;
    /* 오른쪽 스타일링 하는 부분 */
}
.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    clear: both;
    /* 푸터 부분 */
}
.lefttop {
    height: 30%;
    float: top;
}
.lefttopup {
    float: left;
    margin-right: 10px;
}
.leftbottom {
    float: bottom;
}
h2 {
    font-size: 21px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}
.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: eee;
    padding: 10px;
}

.main-background {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    margin-bottom: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../image/Barking_Dog.png);
    position: relative;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 0px;
    text-align: ;
}

.main-menu {
    background-color: rgb(45, 119, 171);
    width: 100%;
    height: 70px;
    padding: 3px;
    overflow-x: hidden;
    white-space: nowrap;
}
.main-button {
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}
.discription {
    width: 80%;
    max-width: 850px;
    height: 150px;
    background-color: rgb(201, 201, 201);
    text-align: center;
    padding: 30px;
    top: -80px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top -40px;
    clear: both;
}
.main-screen {
    position: relative;
}

/* navbar(스페이스)li <- navbar안에있는 li 모두에게 적용 스페이스바(모든 자손 포함) >모든 직계자식에게만 적용 */

/* css selector
.profile profile #profile
class selector, tag selector, idselector
적용되는 순서는 style > id > class > tag */

/* 어떤 style 속성들은 inherit을 지원함(부모로부터 영향을 받음) */
/* 
clear both는 자식요소의 float을 반영하지 않음. 부모요소의 여백이 0이 됨, 따라서 부모요소에 float을 적용하고 싶을때는 ovevflow hidden속성으로 부모안 자식을 모두 포함해서 높이를 계산하도록 바꾸어 줘야함.
혹은, 가상의 div를 하나 더 만들어서 clearboth를 넣는 방법도 가능 */


/* maxwidth의 혹은 width의 정의는 content의 영역에 제한(content+padding+border순으로 늘어난다.)된다. 그래서 보이는 영역으로 width를 설정하고싶을때는 boxsizing을 border-box로 지정해야 한다. */